:root {
  /* Fonts */
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-manrope: "Manrope", ui-sans-serif, system-ui, sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Typography */
  --typography-body-10-font-size: 10px;
  --typography-body-10-line-height: 14px;

  --typography-body-12-font-size: 12px;
  --typography-body-12-line-height: 18px;

  --typography-body-14-font-size: 14px;
  --typography-body-14-line-height: 22px;
  --typography-body-14-letter-spacing: -0.14px;

  --typography-body-15-font-size: 15px;
  --typography-body-15-line-height: 24px;
  --typography-body-15-letter-spacing: -0.3px;

  --typography-body-16-font-size: 16px;
  --typography-body-16-line-height: 26px;
  --typography-body-16-letter-spacing: -0.32px;

  --typography-title-14-font-size: 14px;
  --typography-title-14-line-height: 18px;
  --typography-title-14-letter-spacing: -0.14px;

  --typography-title-16-font-size: 16px;
  --typography-title-16-line-height: 20px;
  --typography-title-16-letter-spacing: -0.16px;

  --typography-title-18-font-size: 18px;
  --typography-title-18-line-height: 22px;
  --typography-title-18-letter-spacing: -0.36px;

  --typography-title-20-font-size: 20px;
  --typography-title-20-line-height: 24px;
  --typography-title-20-letter-spacing: -0.4px;

  --typography-title-24-font-size: 24px;
  --typography-title-24-line-height: 28px;
  --typography-title-24-letter-spacing: -0.48px;

  --typography-title-32-font-size: 32px;
  --typography-title-32-line-height: 36px;
  --typography-title-32-letter-spacing: -0.96px;

  --typography-title-40-font-size: 40px;
  --typography-title-40-line-height: 42px;
  --typography-title-40-letter-spacing: -1.2px;
}

@utility body-10-regular {
  font-family: var(--font-inter);
  font-size: var(--typography-body-10-font-size);
  line-height: var(--typography-body-10-line-height);
  font-weight: var(--font-weight-regular);
}
@utility body-10-medium {
  font-family: var(--font-inter);
  font-size: var(--typography-body-10-font-size);
  line-height: var(--typography-body-10-line-height);
  font-weight: var(--font-weight-medium);
}
@utility body-10-semibold {
  font-family: var(--font-inter);
  font-size: var(--typography-body-10-font-size);
  line-height: var(--typography-body-10-line-height);
  font-weight: var(--font-weight-semibold);
}

@utility body-12-regular {
  font-family: var(--font-inter);
  font-size: var(--typography-body-12-font-size);
  line-height: var(--typography-body-12-line-height);
  font-weight: var(--font-weight-regular);
}
@utility body-12-medium {
  font-family: var(--font-inter);
  font-size: var(--typography-body-12-font-size);
  line-height: var(--typography-body-12-line-height);
  font-weight: var(--font-weight-medium);
}
@utility body-12-semibold {
  font-family: var(--font-inter);
  font-size: var(--typography-body-12-font-size);
  line-height: var(--typography-body-12-line-height);
  font-weight: var(--font-weight-semibold);
}

@utility body-14-regular {
  font-family: var(--font-inter);
  font-size: var(--typography-body-14-font-size);
  line-height: var(--typography-body-14-line-height);
  letter-spacing: var(--typography-body-14-letter-spacing);
  font-weight: var(--font-weight-regular);
}
@utility body-14-medium {
  font-family: var(--font-inter);
  font-size: var(--typography-body-14-font-size);
  line-height: var(--typography-body-14-line-height);
  letter-spacing: var(--typography-body-14-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility body-14-semibold {
  font-family: var(--font-inter);
  font-size: var(--typography-body-14-font-size);
  line-height: var(--typography-body-14-line-height);
  letter-spacing: var(--typography-body-14-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

@utility body-15-regular {
  font-family: var(--font-inter);
  font-size: var(--typography-body-15-font-size);
  line-height: var(--typography-body-15-line-height);
  letter-spacing: var(--typography-body-15-letter-spacing);
  font-weight: var(--font-weight-regular);
}
@utility body-15-medium {
  font-family: var(--font-inter);
  font-size: var(--typography-body-15-font-size);
  line-height: var(--typography-body-15-line-height);
  letter-spacing: var(--typography-body-15-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility body-15-semibold {
  font-family: var(--font-inter);
  font-size: var(--typography-body-15-font-size);
  line-height: var(--typography-body-15-line-height);
  letter-spacing: var(--typography-body-15-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

@utility body-16-regular {
  font-family: var(--font-inter);
  font-size: var(--typography-body-16-font-size);
  line-height: var(--typography-body-16-line-height);
  letter-spacing: var(--typography-body-16-letter-spacing);
  font-weight: var(--font-weight-regular);
}
@utility body-16-medium {
  font-family: var(--font-inter);
  font-size: var(--typography-body-16-font-size);
  line-height: var(--typography-body-16-line-height);
  letter-spacing: var(--typography-body-16-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility body-16-semibold {
  font-family: var(--font-inter);
  font-size: var(--typography-body-16-font-size);
  line-height: var(--typography-body-16-line-height);
  letter-spacing: var(--typography-body-16-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

@utility title-14-medium {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-14-font-size);
  line-height: var(--typography-title-14-line-height);
  letter-spacing: var(--typography-title-14-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility title-14-semibold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-14-font-size);
  line-height: var(--typography-title-14-line-height);
  letter-spacing: var(--typography-title-14-letter-spacing);
  font-weight: var(--font-weight-semibold);
}
@utility title-14-bold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-14-font-size);
  line-height: var(--typography-title-14-line-height);
  letter-spacing: var(--typography-title-14-letter-spacing);
  font-weight: var(--font-weight-bold);
}

@utility title-16-medium {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-16-font-size);
  line-height: var(--typography-title-16-line-height);
  letter-spacing: var(--typography-title-16-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility title-16-semibold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-16-font-size);
  line-height: var(--typography-title-16-line-height);
  letter-spacing: var(--typography-title-16-letter-spacing);
  font-weight: var(--font-weight-semibold);
}
@utility title-16-bold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-16-font-size);
  line-height: var(--typography-title-16-line-height);
  letter-spacing: var(--typography-title-16-letter-spacing);
  font-weight: var(--font-weight-bold);
}

@utility title-18-medium {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-18-font-size);
  line-height: var(--typography-title-18-line-height);
  letter-spacing: var(--typography-title-18-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility title-18-semibold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-18-font-size);
  line-height: var(--typography-title-18-line-height);
  letter-spacing: var(--typography-title-18-letter-spacing);
  font-weight: var(--font-weight-semibold);
}
@utility title-18-bold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-18-font-size);
  line-height: var(--typography-title-18-line-height);
  letter-spacing: var(--typography-title-18-letter-spacing);
  font-weight: var(--font-weight-bold);
}

@utility title-20-medium {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-20-font-size);
  line-height: var(--typography-title-20-line-height);
  letter-spacing: var(--typography-title-20-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility title-20-semibold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-20-font-size);
  line-height: var(--typography-title-20-line-height);
  letter-spacing: var(--typography-title-20-letter-spacing);
  font-weight: var(--font-weight-semibold);
}
@utility title-20-bold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-20-font-size);
  line-height: var(--typography-title-20-line-height);
  letter-spacing: var(--typography-title-20-letter-spacing);
  font-weight: var(--font-weight-bold);
}

@utility title-24-medium {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-24-font-size);
  line-height: var(--typography-title-24-line-height);
  letter-spacing: var(--typography-title-24-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility title-24-semibold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-24-font-size);
  line-height: var(--typography-title-24-line-height);
  letter-spacing: var(--typography-title-24-letter-spacing);
  font-weight: var(--font-weight-semibold);
}
@utility title-24-bold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-24-font-size);
  line-height: var(--typography-title-24-line-height);
  letter-spacing: var(--typography-title-24-letter-spacing);
  font-weight: var(--font-weight-bold);
}

@utility title-32-medium {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-32-font-size);
  line-height: var(--typography-title-32-line-height);
  letter-spacing: var(--typography-title-32-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility title-32-semibold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-32-font-size);
  line-height: var(--typography-title-32-line-height);
  letter-spacing: var(--typography-title-32-letter-spacing);
  font-weight: var(--font-weight-semibold);
}
@utility title-32-bold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-32-font-size);
  line-height: var(--typography-title-32-line-height);
  letter-spacing: var(--typography-title-32-letter-spacing);
  font-weight: var(--font-weight-bold);
}

@utility title-40-medium {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-40-font-size);
  line-height: var(--typography-title-40-line-height);
  letter-spacing: var(--typography-title-40-letter-spacing);
  font-weight: var(--font-weight-medium);
}
@utility title-40-semibold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-40-font-size);
  line-height: var(--typography-title-40-line-height);
  letter-spacing: var(--typography-title-40-letter-spacing);
  font-weight: var(--font-weight-semibold);
}
@utility title-40-bold {
  font-family: var(--font-manrope);
  font-size: var(--typography-title-40-font-size);
  line-height: var(--typography-title-40-line-height);
  letter-spacing: var(--typography-title-40-letter-spacing);
  font-weight: var(--font-weight-bold);
}
